---
# Only the main Sass file needs front matter (the dashes are enough)
---
$base-font-family: "Computer Modern";
$code-font-family: monospace !default;
$code-font-weight: 300;
$code-font-size:   100%;
$code-line-height: 1.4;

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
	text-rendering: optimizeLegibility;
}

p {
	text-align: justify;
}

pre, code {
	font-family: $code-font-family;
	font-size:   $code-font-size;
	font-weight: $code-font-weight;
	line-height: $code-line-height;
}

/* B/w code blocks */
pre, code, .highlighter-rouge .highlight
{
	background-color: whitesmoke;
}

@font-face {
	font-family: "Computer Modern";
	src: url('./fonts/woff/cmunrm-webfont.woff') format("woff");
	font-display: auto;
}

@font-face {
	font-family: "Computer Modern";
	src: url('./fonts/woff/cmunbx-webfont.woff') format("woff");
	font-weight: bold;
	font-display: auto;
}

@font-face {
	font-family: "Computer Modern";
	src: url('./fonts/woff/cmunbxo-webfont.woff') format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: "Computer Modern";
	src: url('./fonts/woff/cmunsi-webfont.woff') format("woff");
	font-style: italic;
	font-display: auto;
}

/* LaTeX like tables
   Taken from https://github.com/vincentdoerig/latex-css/blob/master/style.css
*/

// Remove Base & Minima styling
table, table th, table tr, table td, table tr:nth-child(2n) {
	background-color: inherit;
	border: inherit;
}

table {
	@extend .center;
	border-collapse: collapse;
	border-spacing: 0;
	width: auto;
	max-width: 100%;
	border-top: 2.27px solid;
	border-bottom: 2.27px solid;
	/* display: block; */
	overflow-x: auto; /* does not work because element is not block */
	/* white-space: nowrap; */
	counter-increment: caption;
}

/* add bottom border on column table headings  */
table tr > th[scope='col'] {
	border-bottom: 1.36px solid;
}
/* add right border on row table headings  */
table tr > th[scope='row'] {
	border-right: 1.36px solid;
}
table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
	border-top: 1.36px solid;
}
table > tbody > tr:last-child > td,
table > tbody > tr:last-child > th {
	border-bottom: 1.36px solid;
}

th, td {
	text-align: left;
	padding: 0.5rem;
	line-height: 1.1;
}

/* Tags Clouds */
.tags-cloud {
	text-align: justify;
}
.tags-cloud > a > code {
	font-size:  80%;
	white-space: nowrap;
}

/* No wrapping for inline code */
p > code {
	white-space: nowrap;
}

/* We don't want to print things that are usless on paper */
@media print {
    nav, footer, .give-comments, div.navigation, div.related-posts {
         display: none !important;
    }
}

// Panels
.shadows {
	box-shadow: 0px 0px 18px 0px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.09);
}

.panel {
	@extend .shadows;

	border-block-style: solid;
	border-block-width: 1px;
	padding: 0.5em;
	margin: 1%;
}

.warning {
	background: #fff8f7;
	border-color: #d04437;
}

.note {
	background: #fffdf6;
	border-color: #ffeaae;
}

.tip {
	background: #f3f9f4;
	border-color: #91c89c;
}

.info {
	background: #fcfcfc;
	border-color: #4a6785;
}

.small-caps {
	font-variant-caps: small-caps;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.box {
	@extend .center;
	@extend .shadows;

	margin-left: 10%;
	margin-right: 10%;
	padding-top: 1em;
	padding-bottom: 1em;

	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	font-family: monospace;
}

.legend {
	@extend .center;
	margin-top: -1em;
	font-style: italic;
	font-size: 80%;
}

// After a table, reduce the margin even more.
table + .legend {
	margin-top: -2em;
}

a.post-detail {
	font-size: 90%;
}

.post-header {
	margin-bottom: 1em;
}

div.read-time {
	@extend .post-meta;
}

h3 + div.read-time {
	margin-top: -1em;
	margin-bottom: .5em;
}

// Footnotes
.footnotes {
	border-block-style: dotted;
	border-block-width: .5px;

	margin-top: 2em;
	margin-left: 10%;
	margin-right: 10%;
}

.footnotes > ol {
	margin-bottom: -10px;
}
