---
# Only the main Sass file needs front matter (the dashes are enough)
---
$base-font-family: "Computer Modern";
$code-font-family: monospace !default;
$code-font-weight: 300;
$code-font-size:   90%;
$code-line-height: 1.4;

p {
  text-align: justify;
}

pre, code {
  font-family: $code-font-family;
  font-size: $code-font-size;
  font-weight: $code-font-weight;
  line-height: $code-line-height;
}

.highlight .o, .highlight .k {
  font-weight: 200%;
}

@import "minima";
@font-face {
    font-family: "Computer Modern";
    src:
        url('./fonts/woff/cmunrm-webfont.woff') format("woff");
}

@font-face {
    font-family: "Computer Modern";
    src:
        url('./fonts/woff/cmunbx-webfont.woff') format("woff");
        font-weight: bold;
}

@font-face {
    font-family: "Computer Modern";
    src:
        url('./fonts/woff/cmunse-webfont.woff') format("woff");
        font-weight: bold;
        font-style: italic;

}

@font-face {
    font-family: "Computer Modern";
    src:
        url('./fonts/woff/cmunsi-webfont.woff') format("woff");
        font-style: italic;
}

/* Tables are a little smaller than the body, and centered */
table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
