---
# Only the main Sass file needs front matter (the dashes are enough)
---
$base-font-family: "Computer Modern";
$code-font-family: monospace !default;
$code-font-weight: 300;
$code-font-size:   80%;
$code-line-height: 1.4;

@import "minima";

p {
	text-align: justify;
}

pre, code {
	font-family: $code-font-family;
	font-size:   $code-font-size;
	font-weight: $code-font-weight;
	line-height: $code-line-height;
}

@font-face {
	font-family: "Computer Modern";
	src: url('./fonts/woff/cmunrm-webfont.woff') format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Computer Modern";
	src: url('./fonts/woff/cmunbx-webfont.woff') format("woff");
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: "Computer Modern";
	src: url('./fonts/woff/cmunbxo-webfont.woff') format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Computer Modern";
	src: url('./fonts/woff/cmunsi-webfont.woff') format("woff");
	font-style: italic;
	font-display: swap;
}

/* Tables are a little smaller than the body, and centered */
table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Tags Clouds */
.tags-cloud {
	text-align: justify;
}
.tags-cloud > a > code {
	white-space: nowrap;
}

/* We don't want to print things that are usless on paper */
@media print {
    nav, footer, .give-comments, div.navigation, div.related-posts {
         display: none !important;
    }
}
